{% load staticfiles %}


<!doctype html>
<html lang="fr-FR">
<head>
    {% block meta_tags %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block title %}

    {% endblock %}

    {% block stylesheets %}
        <!-- Font Files -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
        <link rel='stylesheet' id='responsive-css' href="{% static 'css/responsive.css' %}" type='text/css' media='all'/>

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    {% endblock %}

    {% block javascript %}
        <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery-ui-1.9.2.custom.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {%  comment %} Trucs SEO pour plus tard
        <link rel='prev' title='Chocolate Earl Grey Pots de Creme Recipe' href='http://alt-foodrecipes.inspirythemes.com/recipe/chocolate-earl-grey-pots-de-creme-recipe/' />
        <link rel='next' title='Warm Flank Steak Salad With Mint And Cilantro' href='http://alt-foodrecipes.inspirythemes.com/recipe/warm-flank-steak-salad-with-mint-and-cilantro/' />
        <link rel='canonical' href='http://alt-foodrecipes.inspirythemes.com/recipe/banh-mi-sandwich/' />
        <link rel='shortlink' href='http://alt-foodrecipes.inspirythemes.com/?p=317' />
    {%  endcomment %}

</head>
<!--[if lt IE 7 ]>
<body class="single single-recipe postid-317 ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="single single-recipe postid-317 ie7"> <![endif]-->
<!--[if IE 8 ]>
<body class="single single-recipe postid-317 ie8"> <![endif]-->
<!--[if IE 9 ]>
<body class="single single-recipe postid-317 ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="single single-recipe postid-317"> <!--<![endif]-->

<body>

    <!-- ============= HEADER ============== -->
    <div id="header-wrapper" class="clearfix">
        <div id="header" class="clearfix">
            <a class="responsive_logo" href="http://www.menugourmet.com">
                <img src="{% static 'images/menugourmet-recettes-faciles.png' %}" alt="Menugourmet - Recettes faciles"
                    class="logo"/>
            </a>
        </div>
    </div>

    <!-- ============= CONTENTS ============== -->
    {% block content %}{% endblock %}

    <!-- ============= FOOTER============== -->
    <div id="footer-wrap">
        <div id="footer">
            {% include "recipe/details/_footer.html" %}

        </div>

    </div>

    <script>
        //this function attached focus and blur events with input elements
        var addFocusAndBlur = function ($input, $val) {

            $input.focus(function () {
                if (this.value == $val) {
                    this.value = '';
                }
            });

            $input.blur(function () {
                if (this.value == '') {
                    this.value = $val;
                }
            });
        }
        // example code to attach the events
        addFocusAndBlur(jQuery('#s'), 'Search for');
        addFocusAndBlur(jQuery('#cname'), 'Name here');
        addFocusAndBlur(jQuery('#cemail'), 'Email here');
        addFocusAndBlur(jQuery('#cmessage'), 'Message');
        addFocusAndBlur(jQuery('#message'), 'Type your comments here');
    </script>

</body>
</html>