<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Ceci est une page de détail
<br/>
{{ recipe.id }} <br/>
{{ recipe.enabled }} <br/>
{{ recipe.lang }} <br/>
{{ recipe.name }} <br/>
{{ recipe.description }} <br/>
{{ recipe.username }} <br/>
{{ recipe.website }} <br/>
{{ recipe.chef_name }} <br/>
{{ recipe.courses }} <br/>
{{ recipe.category }} <br/>
{{ recipe.serving }} <br/>
{{ recipe.price }} <br/>
{{ recipe.difficulty }} <br/>
{{ recipe.for_children }} <br/>
{{ recipe.light }} <br/>
{{ recipe.vegetarian }} <br/>
{{ recipe.selection }} <br/>
{{ recipe.note }} <br/>
{{ recipe.quality }} <br/>
{{ recipe.theme }} <br/>
{{ recipe.ingredients }} <br/>
{{ recipe.ugc_ingredients }} <br/>
{{ recipe.steps }} <br/>
{{ recipe.prep_time }} <br/>
{{ recipe.pause_time }} <br/>
{{ recipe.cooking_time }} <br/>
{{ recipe.total_time }} <br/>
{{ recipe.photo_id }} <br/>
{{ recipe.photos_url }} <br/>
</body>
</html>