<div class="info-right">
    <!-- Cook Info -->
    <div class="cookname" itemscope itemtype="http://schema.org/Person">
        <div class="img-box">
            <a itemprop="author" href="http://alt-foodrecipes.inspirythemes.com/author/hassan-raza/">
                <img alt=''
                     src='http://1.gravatar.com/avatar/3786853ef52f92c5f553e063711acfd6?s=78&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D78&amp;r=G'
                     class='avatar avatar-78 photo' height='78' width='78'/> </a>

            <div class="share">
            </div>
        </div>
        <div class="cook-info author vcard">
            <h5 itemprop="name" class="fn given-name url"><a
                    href="http://alt-foodrecipes.inspirythemes.com/author/hassan-raza/" title="Posts by John Doe"
                    rel="author">John Doe</a></h5>

            <p itemprop="description"></p>
            <a itemprop="url" class="url" href="http://alt-foodrecipes.inspirythemes.com/author/hassan-raza/">View
                Other
                Recipes By This Chef &raquo;</a>
        </div>

    </div>
    <!-- end of cookname div -->
    <!-- Rating Icons -->
    <div class="rate-box">

        <h6>Average Member Rating</h6>

        <p class="ex-rates" itemprop="reviews" itemscope itemtype="http://schema.org/AggregateRating">
            <span class="on"></span><span class="on"></span><span class="on"></span><span class="on"></span><span
                class="off"></span> (4.4 / 5)
        </p>

        <div class="hreview-aggregate">
            <span class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span class="average">4.4</span>
                <span class="best" itemprop="ratingValue">5</span>
                <span class="count" itemprop="reviewCount">128</span>
            </span>
        </div>

        <form action="http://alt-foodrecipes.inspirythemes.com/wp-admin/admin-ajax.php" method="post"
              id="rate-product">
            <h6>Rate this recipe</h6>

            <p class="rates">
                <span class="off"></span>
                <span class="off"></span>
                <span class="off"></span>
                <span class="off"></span>
                <span class="off"></span>
                <input type="hidden" name="selected_rating" id="selected_rating" value=""/>
                <input type="hidden" name="post_id" value="317"/>
                <input type="hidden" name="action" value="rate_this"/>
            </p>
        </form>
        <p id="output"></p>

        <p class="status"><span>128 people</span> rated this recipe</p>

        <p class="views"></p>

    </div>
    <!-- end of rate-box div -->
    <!-- Including More Recipes part -->
    <div class="more-recipe">
        <h5>Related Recipes:</h5>

        <div class="recipe-imgs">
            <div class="more-recipes">
                <ul class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=0 data-cycle-slides="li"
                    data-cycle-prev=".p-317"
                    data-cycle-next=".n-317">
                    <li>
                        <a href="http://alt-foodrecipes.inspirythemes.com/recipe/ham-cheese-breakfast-sandwich/">
                            <img width="222" height="144"
                                 src="http://alt-foodrecipes.inspirythemes.com/wp-content/uploads/2012/03/Ham-and-Cheese-Breakfast-Sandwich-222x144.jpg"
                                 class="attachment-recipe-4column-thumb wp-post-image"
                                 alt="Ham-and-Cheese-Breakfast-Sandwich"/> </a>

                        <p class="info-box">Ham &#038; Cheese Breakfast Sandwich</p>
                    </li>
                    <li>
                        <a href="http://alt-foodrecipes.inspirythemes.com/recipe/buttermilk-biscuits/">
                            <img width="222" height="144"
                                 src="http://alt-foodrecipes.inspirythemes.com/wp-content/uploads/2012/03/Buttermilk-Biscuits-222x144.jpg"
                                 class="attachment-recipe-4column-thumb wp-post-image" alt="Buttermilk-Biscuits"/>
                        </a>

                        <p class="info-box">Buttermilk Biscuits</p>
                    </li>
                </ul>
            </div>
            <span class="prev p-317"></span>
            <span class="next n-317"></span>
        </div>
        <!-- end of recipe-imgs div -->
    </div>
    <!-- end of more-recipe div -->

    <!-- Including Nutritional Info part -->
    <div class="nutritional" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
        <h3>Nutritional Info</h3>

        <p>This information is per serving.</p>
        <ul>
            <li class="nutrition">
                <p class="type">Protein</p>
                <span class="value">6.60g</span>
            </li>
            <li class="nutrition">
                <p class="type">Fat</p>
                <span class="value">500mg</span>
            </li>
            <li class="nutrition">
                <p class="type">Sodium</p>
                <span class="value">900mg</span>
            </li>
            <li class="nutrition">
                <p class="type">Fibre</p>
                <span class="value">20g</span>
            </li>
        </ul>
    </div>


</div>

<span class="w-pet-border"></span>