<!-- WEBSITE SEARCH STARTS HERE -->
<div class="top-search clearfix">
    <h3 class="head-pet"><span>Recipe Search</span></h3>

    <form action="http://alt-foodrecipes.inspirythemes.com" id="searchform">
        <p>
            <input type="text" name="s" id="s" class="field" value="Search for"/>
            <input type="submit" name="s_submit" id="s-submit" value=""/>
        </p>
    </form>
    <p class="statement"><span class="fireRed">Recipe Types:</span>
        <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/beef/">Beef</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/breakfast/">Breakfast</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/cheese-2/">Cheese</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/chicken-2/">Chicken</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/chocolate/">Chocolate</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/fish/">Fish</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/pizzas/">Pizzas</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/potatos/">Potatos</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/rools/">Rolls</a>
        , <a href="http://alt-foodrecipes.inspirythemes.com/recipe-type/sandwiches/">Sandwiches</a>
    </p>
</div>
<!-- end of top-search div-->